<%= page_entries_info @wonko_files, entry_name: 'WonkoFile' %>
<table class="table">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @wonko_files.each do |wonko_file| %>
      <tr>
        <td><%= wonko_file.uid %></td>
        <td><%= wonko_file.name %></td>
        <td>
          <%= bootstrap_button_group do %>
            <%= bootstrap_button_to 'Show', wonko_file, :default if policy(wonko_file).show? %>
            <%= bootstrap_button_to 'Edit', edit_wonko_file_path(wonko_file), :warning if policy(wonko_file).edit? %>
            <%= bootstrap_button_to 'Destroy', wonko_file, :danger, method: :delete, data: { confirm: 'Are you sure?' } if policy(wonko_file).destroy? %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-toolbar list-toolbar" role="toolbar">
  <%= bootstrap_button_group do %>
    <%= bootstrap_button_to 'New Wonko File', new_wonko_file_path, :success if policy(WonkoFile).create? %>
    <%= bootstrap_button_to 'Download Index', files_index_path, :success %>
  <% end %>
  <%= paginate @wonko_files %>
</div>
