<%= page_entries_info @wonko_versions, entry_name: 'version' %>
<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      <th>Type</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @wonko_versions.each do |wonko_version| %>
      <tr>
        <td><%= wonko_version.version %></td>
        <td><%= wonko_version.type %></td>
        <td><%= wonko_version.time %></td>
        <td>
          <%= bootstrap_button_group do %>
            <%= bootstrap_button_to 'Show', wonko_file_wonko_version_path(@wonko_file, wonko_version), :default if policy(wonko_version).show? %>
            <%= bootstrap_button_to 'Edit', edit_wonko_file_wonko_version_path(@wonko_file, wonko_version), :warning, icon: :edit if policy(wonko_version).edit? %>
            <%= link_to 'Destroy', [@wonko_file, wonko_version], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if policy(wonko_version).destroy? %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-toolbar list-toolbar" role="toolbar">
  <%= bootstrap_button_group do %>
    <%= bootstrap_button_to 'New Wonko Version', new_wonko_file_wonko_version_path(@wonko_file), :success, icon: :plus if policy(WonkoVersion).create? %>
  <% end %>
  <%= paginate @wonko_versions %>
</div>
