<%= bootstrap_button_group do %>
  <%= bootstrap_button_to 'Edit', edit_wonko_file_wonko_version_path(@wonko_file, @wonko_version), :warning, icon: :edit if policy(@wonko_version).edit? %>
  <%= bootstrap_button_to 'Download', files_version_path(@wonko_file, @wonko_version), :success, icon: 'download-alt' %>
<% end %>

<%= form_tag 'javascript:return false;' do %>
  <select class="selectpicker" data-live-search="true">
    <% @wonko_version.wonkofile.wonkoversions.where(version: @wonko_version.version).pluck(:user).each do |user_id| %>
      <option value="<%= User.find(user_id).slug %>"><%= User.find(user_id).username %></option>
    <% end %>
  </select>
<% end %>

<p><strong>Owner:</strong> <%= @wonko_version.user.username %></p>
<p><strong>Version:</strong> <%= @wonko_version.version %></p>
<p><strong>Type:</strong> <%= @wonko_version.type %></p>
<p><strong>Time:</strong> <%= @wonko_version.time %></p>
<p>
  <strong>Requires:</strong>
  <div id="requiresView"></div>
</p>
<p>
  <strong>Data:</strong>
  <div id="dataView"></div>
</p>

<script>
  var requiresEditor = new JSONEditor(document.getElementById('requiresView'),
    {
      mode: 'view',
      name: 'Dependencies'
    }, <%= WonkoVersion.unclean_keys(@wonko_version.requires).to_json.html_safe %>);
  var dataEditor = new JSONEditor(document.getElementById('dataView'),
    {
      mode: 'view',
      name: 'Resource Groups'
    }, <%= WonkoVersion.unclean_keys(@wonko_version.data).to_json.html_safe %>);
  $('select.selectpicker').on('change', function(evt) {
    var user = $(evt.target).val();
    if (user === 'official') {
      document.location.href = '<%= wonko_file_wonko_version_url(@wonko_file, @wonko_version) %>'
    } else {
      document.location.href = '<%= wonko_file_wonko_version_url(@wonko_file, @wonko_version) %>?user=' + user;
    }
  }).val('<%= params[:user] %>');
</script>
